* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: raju;
    src: url(sf-pro-icons_light.woff2);
}
#main{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
#box1{

    width: 100%;
    height: 60px;
    background-color: rgb(44, 44, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: aliceblue;
    font-weight: 1000;
}
#center{
    width: 100%;
    height: 550px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
    font-family: raju;
    /* display: flex; */

}
h1{
    /* position: absolute; */
    /* left: 30%; */
    font-size: 100px;
    text-align: center;
    font-family: raju;
}
h4{
    text-align: center;
    font-size: 20px;
    font-family: raju;
}
#learn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
}
#learn button{
    padding: 13px 20px;
    border-radius: 50px;
    background-color: rgb(0, 110, 255);
    color: azure;
}
#d{
    height: 340px;
}
