
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: raju;
    src: url(Gued.otf );
}

html, body {
    height: 100%;
    width: 100%;
   
}
h1{
    margin-top: 60px;
    font-size: 230px;
    text-align: center;
    font-family: raju;
    font-weight: 10;
}
#f {
    
    /* background-color: brown; */
    height: 180px;
}
#d{
    position: relative;
    height: 250px;
    width: 100%;
    /* background-color: blue; */
    /* background-color: blue; */
}

#ed{
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 300px;
    margin-left: 50%;
    background-color: blueviolet;
    background-image: url(50f2d4bd6e4e953676d818358da48689.jpg);
}
#main{
    /* position: absolute; */
    height: 1000px;
}
#s{
    position: relative;
    height: 300px;
    width: 100%;
}
#g{
    position: absolute;
    z-index: 2;
    height: 400px;
    width: 250px;
    /* background-image: url(https://www.pinterest.com/pin/winter-sweaters-for-men--42925002693325806/); */
    background-image: url("It was night that night_.jpg");
    margin-left: 800px;
    /* margin-top: 10px; */
}
#a{
    position: absolute;
    top: 100px;
    width: 300px;
    height: 400px;
    background-color: red;
    margin-left: 30%;
    /* margin-top: 100px; */
    background-image: url(4ab05518deed89d5b2b0d5499331c0ea.jpg);

}
#start{
    position: relative;
    height: 60px;
    /* background-color: aqua; */
    /* height: 100px; */
}
#home{
    position: absolute;
    padding-left: 50px;
    font-size: 25px;
    padding-top: 30px;
    font-family: raju;
}
#shop{
    position: absolute;
    margin-left: 140px;
    /* margin-top: 0%; */
    top: 30px;
    
    font-size:  25px;
    font-family: raju;
    
}
#text{
    padding-left: 50px;
    padding-top: 20px;
    height: 300px;
    width: 300px;
    /* background-color: blanchedalmond; */

}
#foot{
    position: relative;
}
#left{
    position: absolute;
    top: 90px;
    margin-left: 50px;
}
#right{
     position: absolute;
    top: 90px;
    margin-left: 90%;

}
#company{
    position: absolute;
    margin-left: 45%;
    top: 30px;
    font-family: raju;
    font-size: 30px;
}
#topleft{
    position: absolute;
    margin-left: 90%;
    top: 30px;
    font-family: raju;
    font-size: 25px;
}



   
